.popular_stalls {
    background: linear-gradient(180deg, rgba(18, 177, 4, 0.2) 0%, rgba(255, 126, 7, 0.2) 100%)
}

.primary {
    color: var(--primary_color)
        /* primary variable declared from index.css */
}

.popularstalls_border {
    border: 2px solid var(--primary_color);
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.stall-item > img{
    width: 200px;
}

.popularstalls_button {
    background-color: red;
}

@media screen and (max-width: 768px) {
    .mobile-view{
        display: grid !important;
        grid-template-columns: auto auto !important;
        column-gap: 20px;
    }
    .stall-item > img{
        width: 150px;
    }
    
}
