.markettitle {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding-top: 10px;
  margin: 0;
}
.marketdiv {
  background: #ff7e07;
  text-align: center;
  margin: 22px 0;
  padding: 23px;
}
.clearfix {
  clear: both;
}
