.categoryCard {
  border-radius: 6px !important;
  background-color: #fff;
  position: relative;
  display: flex;
  width: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  margin-right: 100px;
  box-sizing: border-box;
  margin-top: 20px;
  height: 100%;
}
.discountdiv {
  float: right;
  display: flex;
  position: absolute;
  margin-top: 12px;
  margin-right: 12px !important;
}
.discountbadge {
  width: 38px;
  height: 15px;
  background: #ffc1c1;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 15px;
  color: #643333;
  text-align: center;
  margin: 0;
}

.catimage {
  height: 208px;
  margin: 30px auto;
}

.catDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.catname {
  width: 98px;
  height: 98px;
  background: #ff7e07;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.db {
  right: 22px !important;
  position: absolute;
}
.navandname {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
  position: absolute;
  bottom: 0;
  align-items: flex-end;
  margin: 15px 0px;
}
.slick-dots {
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 20px !important;
  list-style: none;
  text-align: justify !important;
}

.slick-arrow {
  display: none !important;
}

.slick-next {
  display: none !important;
}

.slick-dots li.slick-active button:before {
  color: #ec903a !important;
}

.slick-dots li button:before {
  line-height: 0 !important;
}

.slick-dots li button:before {
  font-size: 14px !important;
  margin: 0 !important;
}

.slick-dots li {
  margin: 0;
}
