*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #565956;
    font-family: 'Nunito Sans' !important;
}
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nunito+Sans:wght@300;400;700&family=Playfair+Display:wght@700&display=swap');

.myBody{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../../images/assets/account.png");
    /* height: 500px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 50px;
}
.formContainer{
    background-color: #F8F7F7;
    width: 700px;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    margin: 0px auto;
}
.formContainer h1{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    padding: 30px;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
}

.input-email, .account-button{
    width: 400px;
    border: 0;
    outline: 0;
    border-radius: 10px !important;
    height: 40px;
}
.input-email{
    border: 1px solid #d9d9d9;
    padding: 5px;
    margin-top: 0 !important;
}
.label{
    text-align: left;
    margin-bottom: 0 !important;
}
.account-button{
    margin-bottom: 20px;
    background: #F9F9F9;
    border: 1px solid #565956;
}
.continue{
    background-color: #FF7E07;
    color: white;
    font-weight: bold;
    border: 0 !important;
    outline: 0 !important;
}
.facebook-button, .google-button{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
}

@media screen and (max-width: 768px) {
    .myBody{
        padding: 20px;
    }
    .formContainer{
        width: 350px;
    }
    .formContainer h1{
        font-size: 30px;
    }
    .input-group{
        margin: 0 auto;
        width: 300px;
    }
    
    .input-email, .account-button{
        width: 300px;
        border: 0;
        outline: 0;
        border-radius: 10px !important;
        height: 40px;
    }
    .input-email{
        border: 1px solid #d9d9d9;
        padding: 5px;
        margin-top: 0 !important;
    }
    .label{
        text-align: left;
        margin-bottom: 0 !important;
    }
    .account-button{
        margin-bottom: 20px;
        background: #F9F9F9;
        border: 1px solid #565956;
    }
    .continue{
        background-color: #FF7E07;
        color: white;
        font-weight: bold;
        border: 0 !important;
        outline: 0 !important;
    }
    .facebook-button, .google-button{
        display: flex;
        align-items: center;
        gap: 10px;
        text-align: center;
        margin: 0 auto;
        width: 200px;
    }
}