* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #565956;
    font-family: 'Nunito Sans' !important;
}

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nunito+Sans:wght@300;400;700&family=Playfair+Display:wght@700&display=swap');

.profile-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../../images/assets/account.png");
    /* height: 500px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 50px;
}

.profile-container {
    background-color: #F8F7F7;
    width: 700px;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    margin: 0px auto;
}

.profile-container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    padding: 20px;
}

.profile-contact {

    width: 80%;

    max-width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 0.5px solid lightslategray;

    padding: 15px;


}


.profile-select {

    width: 100%;

    max-width: 250px;
    height: 40px;

    border: 0.5px solid lightslategray;
    border-radius: 10px;
    padding-left: 10px;


}


.profile-label {
    padding-left: -40px;

    width: 60px;
    padding-left: -200px;
    align-items: baseline;
    align-content: center;

}



@media screen and (max-width: 768px) {
    .profile-body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../../images/assets/account.png");
        /* height: 500px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        padding: 50px;
    }


    .profile-container {
        background-color: #F8F7F7;
        width: 320px;
        text-align: center;
        border-radius: 20px;
        padding: 30px;
        margin: 0px auto;
    }

    .profile-container h1 {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        padding: 30px;
    }

    .profile-contact {
        margin-left: -12px;
        min-width: 260px;
    }

    .profile-select {
        margin-left: -12px;
        min-width: 260px;
    }

    .profile-column label {
        float: left;
        margin-top: auto;
        text-align: left;
        height: 10px;
        margin-left: 0px !important;
    }





}






.profile-login {

    background-color: #FF7E07 !important;
    border: 1px solid #FF7E07 !important;
    border-radius: 13px !important;
    width: 100%;
    min-width: 40px;
    max-width: 439px;
    height: 40px;
    border: none;
    align-content: center;
    justify-content: center;
}




.profile-radio {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;

    color: #565956;

    width: 100%;
    min-width: 40px;
    max-width: 439px;
    margin: auto;



}


.profile-row {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 30px;
    color: #565956;

    width: 100%;
    min-width: 40px;
    max-width: 470px;
    margin: auto;

    display: flex;

}


.profile-column input {
    width: 100%;

}

.profile-column label {
    text-align: left;
    width: 100%;
    margin-left: 20px;
    height: 0px;
}



.profile-column {

    flex: 1;

}



.profile-terms {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 30px;
    color: #565956;
    margin-bottom: 40px;
    width: 100%;
    min-width: 40px;
    max-width: 439px;


}




.Menu {
    color: black;
    color: white;
    overflow: hidden;
    margin: 10px;

}





.profile-input {

    width: 100%;
    min-width: 40px;
    max-width: 439px;
    height: 40px;
    border: 0.5px solid lightslategray;
    border-radius: 10px;
    padding: 15px;



}




.profile-login button {

    width: 100%;
    min-width: 40px;
    max-width: 439px;
    height: 40px;
    border: 0.5px solid lightslategray;
    border-radius: 13px;
    padding: 15px;


}


.btn-google button {

    width: 100%;
    min-width: 40px;
    max-width: 439px;
    height: 40px;
    border: 0.5px solid lightslategray;
    border-radius: 10px;
    padding: 15px;


}






.profile-span {

    text-align: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;



}

.profile-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0px;
    margin-left: -12px;
    font-size: 14px;
    height: 9px;


}


.profile-name2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: -20px;
    margin-left: -24px;
    font-size: 14px;
    height: 9px;


}

input[type=radio] {
    height: 2.6em;
    width: 20%;




}












.profile-row {}



.profile-input-name {
    margin-bottom: 4px;
}





.mb-3 {
    width: 100%;
    max-width: 60%;
    min-width: 20%;



}