.product_hero {
  background: linear-gradient(
    180deg,
    rgba(18, 177, 4, 0.8) 0%,
    rgba(255, 126, 7, 0.8) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  border: none;
  height: 95%;
}
.below-header{
  margin-top: 10% !important;
}
.category_border {
  border: 2px solid white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 7px;
  color: white;
  font-family: "Playfair Display";
  background-color: rgba(255, 126, 7, 0.8);
}

.category_border:hover {
  border: 2px solid white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 7px;
  color: rgba(255, 126, 7, 0.8);
  background-color: white;
}

.hero_text {
  font-family: Nunito;
  color: white;
  position: relative;
  z-index: 2;
}

/* .box {
    width: 35%;
    height: 35px;
    background: var(--primary_color);
    position: relative;
    top: -9em;
    left: 40%;
    z-index: 1;
} */
@media screen and (max-width: 1076px) and (min-width: 768px) {
.below-header{
  margin-top: 15% !important;
}
}

@media screen and (max-width: 768px) {
  .mobile-view{
    display: none !important;
  }
}