.foodcard {
  width: 254px;
  height: 218px;
  background: #ffffff;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foodContainer {
  width: 254px;
  /* margin-right: 14px; */
}

.discountbadge {
  width: 38px;
  height: 15px;
  background: #ffc1c1;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 15px;
  color: #643333;
  text-align: center;
  margin: 0;
}

.foodcon {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  margin-right: 100px;
  box-sizing: border-box;
}

.fruitset {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #565956;
  margin: 0;
  text-align: justify;
  text-decoration: none;
}

.fruitset:hover {
  color: #e99710;
}

.fruitprice {
  text-align: justify;
  margin-bottom: 0px;
}
.fruitline {
  color: #c09e66;
  text-decoration-line: line-through;
  text-decoration-color: #565956;
  text-align: justify;
}

.addtocart {
  background: rgba(18, 177, 4, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: white;
  font-weight: 400;
  font-size: 12px !important;
  color: #fff !important;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  border: 0px;
}
.minman {
  margin-top: -2px;
}

.discountdiv {
  float: right;
  display: flex;
  position: absolute;
  margin-top: 12px;
  /* margin-right: 12px !important; */
}

.btn-plus {
  border-radius: 7px;
  text-align: center;
  background: white;
  background-color: rgba(18, 177, 4, 0.8);
  border: none;
  color: #fff;
  width: 25px;
}

.btn-minus {
  border-radius: 7px;
  text-align: center;
  background: white;
  margin-right: 5px;
  background-color: rgb(189, 7, 7);
  border: none;
  color: #fff;
  width: 25px;
}
