* {
  
}



.label {
    position: relative;
}


.myBody {
    background-size: cover;
width: 100%;
height: 100%;
top:0;
left: 0;
margin: 0;
padding: 0;
position: fixed;

}



.nav-wrapper {
    
 
width: 100%;
max-width: 45%;
display: flex;
justify-content: space-evenly;
margin-top: 20px;
float: right;



}

.sbutton{
    background-color: #FF7E07;
    border: none;
    width: 40px;
    color: white;
}





h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    /* or 62% */


    color: #565956;
}

.head {
    background-color: #FF7E07;
    width: 100%;
    height: 40px;
    font-size: 13px;
    color: #441111;
    text-align: center;
    padding: 5px;
}


.container {
   
    display: block;
    text-align: center;
   
   background-color: white;

    width: 100%;
    min-width: 60%;
        max-width: 30%;
    margin-top: 90px;
    border-radius: 13px;
    padding-top: 50px;
    padding-bottom: 20px;

}

.login {

    background-color: #FF7E07 !important;
    border: 1px solid #FF7E07 !important;
    border-radius: 13px !important;
    width: 100%;
    min-width: 40px; 
    max-width: 439px;
    height: 50px;
    border: none;
    align-content: center;
    justify-content: center;
}

.btn-google,
.btn-facebook {
    border: 1px solid #565956 !important;
    border-radius: 13px !important;
    width: 100%;
    min-width: 40px;
        max-width: 439px;
    height: 50px;
    border: none;
}

.get-started {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #565956;
}

.get-started2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    /* or 118% */

    text-align: center;
    letter-spacing: 0.06em;

    color: #565956;
}





.Menu {
    color: black;
color: white;

    margin: 10px;

}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
}



.inputemail  {

    width: 100%;
    min-width: 40px;
    max-width: 439px;
    height: 50px;
    border: 0.5px solid lightslategray;
    border-radius: 13px;
    padding: 15px;


}


.longin button {
    
    width: 100%;
    min-width: 40px;
        max-width: 439px;
    height: 50px;
    border: 0.5px solid lightslategray;
    border-radius: 13px;
    padding: 15px;


}


.btn-google button {

    width: 100%;
    min-width: 40px;
    max-width: 439px;
    height: 50px;
    border: 0.5px solid lightslategray;
    border-radius: 13px;
    padding: 15px;


}

.btn-facebook button {

    width: 100%;
    min-width: 40px;
    max-width: 439px;
    height: 50px;
    border: 0.5px solid lightslategray;
    border-radius: 13px;
    padding: 15px;


}



.mysearch {
    width: 300px;
    height: 35px;
    border-radius:0px 13px 13px 0px;
    border: none !important;
    padding: 15px;
    margin-right: 60px;
    margin-top: 20px;
    margin-left: 0%;
   


}






.mb-3{
    width: 100%;
    max-width: 60%;
    min-width: 20%;

    
   
}


