*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nunito+Sans:wght@300;400;700&family=Playfair+Display:wght@700&display=swap');


.faqs{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.faqs h5{
    letter-spacing: 3px;
}
.faqs-questions-container{
    width: 70%;
    margin: 0 auto;
    border-top: 2px solid white;
    padding: 20px;
}
.entire-accordion{
    display: flex;
}
