.bg-linear {
  background: linear-gradient(
    180deg,
    rgba(18, 177, 4, 0.2) 0%,
    rgba(255, 126, 7, 0.2) 100%
  );
}
.fruitheading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
  color: #ff7e07;
  margin-top: 30px;
}

.fooditems {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}
.fooditems::-webkit-scrollbar {
  display: none;
}

.rightclick {
  right: 5%;
}

.leftclick {
  left: 5%;
}

.scrollpane {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  color: #fff;
  align-items: center;
}

.arrowbtn {
  width: 32px;
  height: 33px;
  border-radius: 50%;
  color: #fff;
  border: 0;
  background: #565956;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -28%;
}

.boldfont {
  font-weight: 600 !important;
}

@media screen and (min-width: 1500px) {
  .arrowbtn {
    margin-top: -24%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
  .arrowbtn {
    margin-top: -33%;
  }
}

@media screen and (max-width: 1201px) and (min-width: 1000px) {
  .arrowbtn {
    margin-top: -37%;
  }
}

@media screen and (max-width: 999px) and (min-width: 882px) {
  .arrowbtn {
    margin-top: -42%;
  }
}

@media screen and (max-width: 882px) and (min-width: 768px) {
  .arrowbtn {
    margin-top: -50%;
  }
}

@media screen and (max-width: 716px) and (min-width: 678px) {
  .arrowbtn {
    margin-top: -56%;
  }
}

@media screen and (max-width: 677px) and (min-width: 573px) {
  .arrowbtn {
    margin-top: -66%;
  }
}

@media screen and (max-width: 573px) and (min-width: 501px) {
  .arrowbtn {
    margin-top: -76%;
  }
}

@media screen and (max-width: 500px) and (min-width: 420px) {
  .arrowbtn {
    margin-top: -86%;
  }
}

@media screen and (max-width: 419px) and (min-width: 350px) {
  .arrowbtn {
    margin-top: -96%;
  }
}

@media screen and (max-width: 320px) {
  .arrowbtn {
    margin-top: -128%;
  }
}
